@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable declaration */
:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--poppins);
    color: var(--primary-text-color);
}

/* text styling */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1.25rem;
    font-family: var(--roboto);
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}

/* utility classes */
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.small-bold-txt {
    font-size: 1rem;
    font-weight: 700;
    /* font-family: var(--roboto); */
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
}
.hover-link:hover {
    color: var(--accent-color);
    transition: .2s ease-out;
}

.primary-btn {
    background-color: var(--accent-color);
    border-radius: 6px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    font-weight: 700;
}
.primary-btn:hover {
    background-color: var(--accent-color-dark);
    transition: .2s ease-out;
}

.secondary-btn {
    border-radius: 6px;
    border: 0.5px solid var(--secondary-text-color);
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    font-weight: 700;
}
.secondary-btn:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
    transition: 0.2s ease-out;
}

/* top banner */
.top-banner {
    background-color: #4fb3d4;
    background-image: url("./assets/asset\ 32.png");
    background-size: 400px;
}

.banner-txt {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* nav bar*/
.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links {
    flex-basis: 750px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;

}
